---
layout: markdown_page
title: "Product Vision - monitor"
---

- TOC
{:toc}

Performance is a critical aspect of the user experience, and ensuring your application is responsive and available is everyone's responsibility. We want to help address this need for development teams, by integrating key performance analytics and feedback into the tool developers already use every day.

As part of our commitment to performance we are also deeply instrumenting GitLab itself, enabling our team to improve GitLab peformance and for customers to more easily manage their deployments.

<%= partial("direction/other", :locals => { :stage => "monitor" }) %>
