@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

h4,
p {
  line-height: 1.5;
}

p {
  font-size: 18px;
}

.hero-container {
  padding: 80px 100px;
  box-sizing: border-box;
  color: $color-white;
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
}

.hero-title {
  margin: 0;
  margin-bottom: 20px;
}

.hero-message {
  font-weight: normal;
}

.intro-container {
  padding: 50px 130px 0;
}

.solution-image {
  width: 100%;
  box-shadow: 0 2px 4px $color-transparent-alt;
  border-radius: $border-radius-large;
}

.solution-container {
  margin-bottom: 100px;

  div:first-child {
    padding: 0 60px;

    @media all and (max-width: $screen-lg-min) {
      padding: 0;
      margin-top: 30px;
    }

  }

  @media all and (max-width: $screen-md-min) {
    margin-bottom: 50px;
  }

}

.solution-container:nth-child(odd) {

  .solution-info-container {
    order: 2;
  }

}

.learn-more {
  padding: 10px;
  padding-left: 0;
  margin-right: auto;
}

.solution-no-image {
  max-width: 360px;
  padding: 40px;
  margin: auto;
  margin-top: 0;

  @media all and (max-width: $screen-md-min) {
    max-width: 100%;
    padding: 20px 0;
    margin: 0;
  }

}

.solutions-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 120px;
  max-width: 1440px;
  margin: auto;

  .overview {
    margin-bottom: 100px;
  }

  @media all and (max-width: $screen-lg-min) {
    padding: 60px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 20px;
  }

}

@media screen and (max-width: $screen-lg-min) {

  .solution-container {
    flex-wrap: wrap;
  }

  .solution-info-container {
    order: 1;
  }

  .solution-container:nth-child(even),
  .solution-container:nth-child(odd) {

    .solution-image {
      margin: auto;
      margin-right: auto;
      margin-left: auto;
    }

  }

  .solution-image-container {
    padding: 0;
    order: 0;
  }

}

@media screen and (max-width: $screen-lg-min) {

  .solution-info-container {
    padding: 40px 20px;
  }

  .hero-container {
    padding: 80px 40px;
  }

}
