.panel-body.newsletter-cta
  - form_id = 1546
  - if variant && variant == 'b'
    - form_id = 1547

  .panel-header
    = partial "includes/logos/logo_sq_outline.svg"
    #above-cta-form
      .newsletter-preamble
        New blog posts directly to your inbox
      .newsletter-sub-preamble
        Sign up for our bi-monthly newsletter
    #confirm-cta-form{ :style => "display: none;" }
      .newsletter-preamble
        Thanks, you’re
        %br/
        signed up!
      .newsletter-sub-preamble
        GitLab is coming to your inbox
      %img{ src: "/images/emojis/newsletter-signup-success.png", :class => "success-image" }

  .newsletter-form

    %form.notdefined{id: "mktoForm_#{form_id}"}
      %script{src:"//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
      %script{:type=>"text/javascript"}
        :plain
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", #{form_id}, function(form) {
            form.onSuccess(function(values, followUpUrl) {

              form.getFormElem().hide();
              document.getElementById('above-cta-form').style.display = 'none';
              document.getElementById('confirm-cta-form').style.display = 'block';

              dataLayer.push({event: 'mktoLead',mktoFormId: form.getId()});
              return false;
            });
            function getgacid() {
              try {
                var tracker = ga.getAll()[0];
                return tracker.get('clientId');
              } catch (e) {
                return 'n/a';
              }
            }
            form.vals({
              'gacid': getgacid()
            });
          });
